html,
body,
#root,
.app {
  /* min-height: 100% !important; */
  height: 100%;
  background-color: black;
  /* overflow-x: hidden; */
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url("./Assets/Fonts/Nunito-Medium.ttf") format("truetype");
}

.nunito {
  font-family: "Nunito";
}

.title {
  font-size: 1.5rem;
}

.text-normal {
  font-size: 1.1rem;
}
